* {
  font-family: 'Merienda', cursive;
  }
  body{
    margin: 0;
  }


  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  .content > a {
    margin: 0.5rem;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.125rem;
  }

  .content > a:link {
    color: black;
    text-decoration: none;
  }
  .content > a:visited {
    color: black;
    text-decoration: none;
  }

  #Aboutus {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../sealarge.jpg);
    background-attachment: fixed;
    height: auto;
    padding: 15rem 0;

  }

  #Aboutus > div {
    background-color: white;
    padding: 5rem;
    height: auto;
  }

  #Aboutus > div > div {
    display: flex;
    justify-content: center;
  }

  .LaComuna {
    width: 30rem;
  }

  h2 {
    text-align: center;
  }

  .paragraph {
    width: 45%;
    padding-left: 5rem;
  }

   #products {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../valldemossacalle.jpeg);
    background-attachment: fixed;
    height: auto;
    padding: 15rem 0;
    margin: 0.25rem 0;
  }

  #products > div {
    background-color: rgba(255, 255, 255, 0.81);
    padding: 5rem;
    height: auto;
  }




  #products > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30rem 30rem;
    grid-row-gap: 1rem;
    grid-auto-rows: 30rem;

  }

  figure > img {
    width: 100%;
    height: 100%;
  }

  figcaption {
    text-align: center;
    font-size: 1.25rem;
  }

  #findus > p {
    text-align: center;
  }

  @media only screen and (max-width: 480px) {

    header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    #Aboutus {
      padding: 5rem 0;
      width: 100%;
      background-image: url(../seabackground1.jpg);
      background-size: auto 100%;
    }

    #Aboutus > div {
      padding: 4rem 0;
    }

    #Aboutus > div > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    }

    .LaComuna {
    width: 100%;
    }

    .paragraph {
    width: 90%;
    padding: 0 0 4rem 0 ;
    }
    
    #products {
      background-image: url(../background1.jpeg);
      background-size: auto 100%;

    #products > div {
      padding: 4rem 0;
    }

    #products > div > div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 25rem;
      grid-row-gap: 1rem;
      grid-auto-rows: 25rem;
